html {
  --primaryColor: #eb1d25;
  --secondaryColor: rgba(235, 29, 37, 0.15);
  --accentColor: rgba(235, 29, 37, 0.5);
  --fontColor: #231f20;
}
*{
  scroll-behavior: smooth;
}

body {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 14px !important;
  color: var(--fontColor) !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(110, 227, 255);
  background: linear-gradient(180deg, rgba(110, 227, 255, 1) 0%, rgba(0, 255, 158, 1) 100%);
  border-radius: 10px;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


/* General CSS Start */
.logo {
  width: 60px;
}
p,a,b{
  line-height: 25px !important;
}

a {
  text-decoration: none !important;
  color: var(--fontColor) !important;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 600 !important;
  /* margin: 0px !important; */
}

input,textarea,select{
  border: 1px solid rgb(151, 151, 151)!important;
  border-radius: 10px;
  width: 100%;
  outline: none;
  padding: 1rem;
  /* background-color: var(--secondaryColor); */
  color: inherit;
}
input:hover,textarea:hover,select:hover{
  border: 1px solid var(--fontColor)!important;

}
input:focus,textarea:focus,select:focus{
  border: 1.5px solid var(--fontColor)!important;

}



.preloader {
  background-color: #ffffffff;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: 1 !important;
}

#preloader-active {
  background-color: #ffffffff;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: 1 !important;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BA55D3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF00FF;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.section-title{
  font-size: 2rem;
  /* font-weight: 700; */
  text-align: center;
}
.section-subtext{
  margin-inline: auto;
  max-width: 700px;
}

.eachContent {
  border-bottom: 1px solid rgba(154, 154, 154, 0.361);
}

.eachContent:last-child {
  border-bottom: none;
}



/* General CSS End */

/* ===== Navbar Start ===== */


.nav-item>a {
  font-weight: 500;
  color: white !important;
}
.nav-item>a:hover {
  color: var(--primaryColor) !important;
}



.dropdown-toggle::after {
  transition: transform 0.3s ease;
}

.dropdown-toggle:hover::after {
  transform: rotate(180deg);
}

.dropdown-item:focus, .dropdown-item:hover, .dropdown-item:active {
  font-weight: 600;
  color: var(--primaryColor) !important;
  background-color: var(--bs-dropdown-link-hover-bg) !important;
}

.book-li {
  margin-top: 13px;
  margin-bottom: 9px;
  list-style: none;
}


.book-repair-btn {
  border: 1px solid var(--primaryColor);
  padding: 8px 15px !important;
  border-radius: 50px;
  font-weight: 600 !important;
}

.book-repair-btn:hover {
  background-color: white;
}

.nav-repair-icon{
  width: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.text-decoration-underline:hover{
  color: var(--primaryColor) !important;
}

.dropdown-categories-img{
  width: 100px;
  padding-bottom: 30px;
}

.nav-c-card{
  position: relative;
}
.nav-c-text{
  position: absolute;;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.navbar-toggler:focus {
  text-decoration: none;
  /* border: 1px solid !important; */
  outline: 1px solid !important;
  box-shadow: none !important;
}
/* ===== Navbar End ===== */

/* Hero Section Start */

.slider-image {
  height: 500px;
  object-fit: cover;
}

.slider-control-btn {
  border: 1px solid var(--primaryColor);
  margin-right: 6px;
  padding: 0px 10px;
  border-radius: 50px;
  background-color: #ffffff;
  transition: .3s;
}

.slider-control-btn:hover {
  background-color: var(--primaryColor) !important;
  color: #ffffff;
}

.carousel-control-icon {
  padding: 10px 15px;
}

.carousel-title {
  font-size: 3rem;
  font-weight: 700 !important;
  padding-bottom: 2rem;
}

.carousel-title-design{
  color: var(--primaryColor);
}

.carousel-inner-btn {
  border: 0px;
  padding: 10px 25px;
  border: 1px solid var(--primaryColor);
  background-color: var(--primaryColor);
  font-weight: 400;
  color: #ffffff !important;
  border-radius: 50px;
  transition: .3s;
}

.carousel-inner-btn:hover {
  border: 1px solid var(--primaryColor);
  background-color: #ffffff !important;
  color: #000000 !important;
}




















.floating-social-media {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 14px 10px 0px 12px;
  position: fixed;
  right: 10px;
  bottom: 10%;
  z-index: 20;
}

.floating-icon i {
  font-size: 1.2rem;
  /* color: #5e5e5e; */
}

/* .icon-1:hover {
  color: 	#25D366;
}

.icon-2:hover {
  color: 	#1877F2;
}

.icon-3:hover {
  color: rgb(235, 35, 68);
}

.icon-4:hover {
  color: rgb(255, 28, 46);
} */

.icon-1 {
  color: 	#25D366;
}

.icon-2 {
  color: 	#1877F2;
}

.icon-3 {
  color: rgb(225, 48, 108);
}

.icon-4 {
  color: rgb(255, 0, 0);
}

/* Hero Section End */

/* Home Page main part Start */

.categories-images{
  width: 150px !important;
  margin: auto;
  padding: 20px 0px 0px 0px;
}


.categories-box{
  border-radius: 6px;
  transition: .3s;
}

.c-arrow{
  color: var(--primaryColor);
  font-size: 10px;
  transition: .3s;
}

.categories-box{
  border: 1px solid var(--primaryColor) !important;

  .c-arrow{
    margin-left: 10px;
  }
}


/* Home Page main part End */

/* Feature Section start */

.sliderCard {
  width: 100%;
  max-width: 320px;
  flex: 1 0 auto !important;
  border: none !important;
}
.sliderCard {
  color: white !important;
}

/* Feature Section end */

/* accessories Section start*/

.eachAccessoryType input{
  display: none;
}

.eachAccessoryType:has(input:checked){
  transition: 0.5s;
  color: var(--primaryColor);
  border-bottom: 2px solid var(--accentColor);
  transform: scale(1.03);
}

.accessoriesSliderWrapper .sliderCard{
  max-width: 220px;
}

@media (min-width: 992px) {

  .accessoriesSliderWrapper{
    background: #292425;
  }
}

/* accessories Section end*/

/* Review section start */

.resetBtn{
  border: 1px solid var(--primaryColor);
  background: transparent;
}
.resetBtn:hover{
  transition: .6s;
  border: 1px solid var(--primaryColor);
  background: var(--primaryColor) !important;
  color: white;
}

/* Review section end */

/* Blog section start */

.blogCardImage{
  width: 100%;
  aspect-ratio: 2/1;
}
.commonBtn{
  width: fit-content;
  margin: auto;
  text-wrap: nowrap;
  
}
.commonBtn:hover .c-arrow{
  padding-left: 0.5rem;

}



/* Blog section end */

/* FAQ section */

.eachFAQ:has(.show) button{
  background: var(--secondaryColor) !important;
  border: 1px solid var(--primaryColor) !important;
  box-shadow: none !important;
}
.eachFAQ button:not(.collapsed) {
  color: inherit;
  background: none;
  box-shadow: none;
}
.eachFAQ button:not(.collapsed) i{
  color: var(--fontColor);
}
.eachFAQ button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}
.eachFAQ button:focus {
  z-index: 3;
  outline: 0;
  box-shadow: none !important;
}
.FAQanswer{
  color: var(--primaryColor);
}
.moreFAQshowToggler{
  display: none;
  cursor: pointer;
}
.moreFAQtogglerWrapper:has(.collapsed) .moreFAQcollapseToggler{
  display: none;
}
.moreFAQtogglerWrapper:has(.collapsed) .moreFAQshowToggler{
  display: inline-block;
}

.moreFAQtoggler .c-arrow{
  font-size: 0.8rem;
}

/* FAQ section */

/* Footer Section start */

.footer a{
  width: fit-content;
  color: white !important;
}

.footer a:hover{
  transition: 0.5s;
  font-weight: 600;
  color: var(--primaryColor) !important;
}

@media (min-width: 768px) and (max-width: 992px){
  .footerSubtext{
    max-width: 500px;
  }
}

/* Footer Section end */

/* Next page css start... */

/* Repair page start */
.serviceSelection{
  width: 100%;
}
.serviceSummary{
  width: 100%;
}

@media (min-width: 768px) {

  .serviceSelection{
    width: 70% !important;
    height: 100svh;
    overflow-y: auto;
    padding-inline: 5px 1rem;
  }
  .serviceSummary{
    width: 30% !important;
    /* min-width: 360px !important; */
    height: 100svh;
    overflow-y: auto;
    padding-left: 1rem;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; 
  }

}

.DeviceProblemWrapper{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 576px) {

  .DeviceProblemWrapper{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {

  .DeviceProblemWrapper{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.serviceReciveMethodWrapper{
  border: 1px solid var(--fontColor);
  transition: 0.5s;

}
.serviceReciveMethodWrapper:has(input:checked){
  border: 1px solid var(--accentColor) !important;
  background: var(--secondaryColor);
  
}


.serviceReciveMethodDetails{
  display: none !important;
}

.DeviceProblem, .method, .customerInfo, .termsConditon{
  display: flex;
  transition: 0.5s;
  transform-origin: top;
  animation-name: bsb-zoomIn;
  animation-duration: 1s;
  animation-fill-mode: both;

}
.deviceBrandModel:has(select:invalid, input:invalid, textarea:invalid) ~ .DeviceProblem{
  display: none;
  animation-name: none;
 
}
.DeviceProblem:has(select:invalid, input:invalid, textarea:invalid) ~ .method, .showMethod{
  display: none;
  animation-name: none;
 
}

.method:has(select:invalid, input:invalid, textarea:invalid) ~ .customerInfo{
  display: none;
  animation-name: none;
 
}
.customerInfo:has(select:invalid, input:invalid, textarea:invalid) ~ .termsConditon{
  display: none;
  animation-name: none;
 
}

@keyframes bsb-zoomIn {
  0% {
      opacity: 0;
      transform: scale3d(.3,.3,.3)

  }

  80% {
      opacity: 1
  }
}
.customerInfo:has(select:invalid, input:invalid, textarea:invalid) ~ .formButtons .submitButton{
  display: none !important;
}
.formButtons .nextButton{
  display: none !important;
}
.customerInfo:has(select:invalid, input:invalid, textarea:invalid) ~ .formButtons .nextButton{
  display: inline-block !important;
}


/* Repair page end */


/* Products Page Start */

/* contents */

.productsContents {
  max-width: 1440px !important;
}
.productsContentsWrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  .productsContentsWrapper {
    flex-direction: row;
    height: 88svh !important;
  }
  .productsSidebar {
    max-width: 190px;
  }
}

.allProducts{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

}
.allProducts .card:hover{
  border: 1px solid var(--primaryColor) !important;
  /* box-shadow: 0 10px 20px 3px var(--secondaryColor) !important; */

}

@media (min-width: 576px) {

  .allProducts{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {

  .allProducts{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {

  .allProducts{
    grid-template-columns: repeat(4, 1fr);
  }
}

.productsCategories label:has(.eachProductsCategory:checked) p {
  color: var(--primaryColor) !important;
}
.productsCategories label:has(.eachProductsCategory:checked) i {
  color: var(--primaryColor) !important;
}

/* Search Filter */
.search-btn {
  border: none;
}

.src-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--fontColor);
  border-radius: 25px;
}

.search-bar {
  border: none !important;
  width: 100%;
  border-radius: 25px;
  padding: 10px;
  padding-right: 20px;
}

.search-bar:hover{
  border: none !important;

}

.search-bar:focus {
  border: none !important;
  border-radius: 25px;
}

.searchBarProductsWrapper {
  height: 60svh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--primaryColor);
}

.searchBarProduct{
  display: flex;
  align-items: center;
  gap: 1rem;
  
}
.searchBarProduct:hover{
  background: var(--primaryColor);
}
.searchBarProduct:hover b{
  color: white;
}



/* details */

/* .detailsToggleAnimation {
  display: none;
}
.togglerAnimation {
  color: var(--primaryColor) !important;
} */

/* Products Page End */

/* productsDetails Page Start */

/* contents */

.ProductDetailsHeroSection{
  margin-block: 3.7rem 2rem;
}
.productShare a:hover{
  transition: .5s;
  background: var(--secondaryColor) !important;
}
.productShare a:hover i, .productShare div:hover i{
  transition: .5s;
  color: var(--primaryColor) !important;
}

@media (min-width: 768px) {

  .ProductDetailsHeroSection{
    margin-block: 7rem 2rem;
  }
}



.productImagesCarouselBtn div.active img {
  transform: scale(1.3);
}

.addToBtn:has(input:checked) i {
  color: rgb(255, 193, 7);
}
.addToBtn:has(input:checked) b {
  color: var(--primaryColor);
}

.productDetailsTogglerAnimation{
  border-bottom: 3px solid var(--primaryColor);
}

/* productsDetails Page End */


/* Blogs Page start */

.blogsWrapper{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}


@media (min-width: 992px) {

  .blogsWrapper{
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Blogs Page end */

/* Terms And Conditions section start */

@media (min-width: 992px) {

  .extremeContainer{
    width: 70% !important;
    margin: auto;
  }
  
}

/* Terms And Conditions section end */

/* Cart page start */

.cartItemDeleteBtn:hover{
  transition: 0.5s;
  color: var(--primaryColor);
}

@media (min-width: 768px) {

  .extremeContainer2{
    width: 60% !important;
    margin: auto;
  }
}

@media (min-width: 992px) {

  .extremeContainer2{
    width: 50% !important;
    margin: auto;
  }
  
}



/* Cart page end */

/* Sell page start */

.inputDeviceImageWrappper{
  border: 1px solid rgb(151, 151, 151);
  transition: 0.5s;
}
.inputDeviceImageWrappper:hover{
  border: 1px solid black;
}
.inputDeviceImageWrappper i{
  color: var(--primaryColor);
  transition: 0.5s;
}
.inputDeviceImageWrappper:has(:valid) i{
  color: #0fa0ff;

}

/* Sell page end */

/* Contact page start */

.map{
  aspect-ratio: 3/2;
}

@media (min-width: 576px) {

  .map{
    aspect-ratio: none;
    height: 400px;
  }
}

/* Contact page end */

/* Career page start */

.openingsWrapper{
  display: grid;
  grid-template-columns: 1fr;
}
.eachOpening{
  background: #eeeeee;
}
.eachOpening:hover{
  transition: 0.5s;
  background: var(--fontColor);
  color: white !important;
}



@media (min-width: 768px) {

  .career-subtext{
    /* max-width: 500px; */
    width: 50%;
  }
  .openingsWrapper{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (min-width: 1200px) {

  .openingsWrapper{
    grid-template-columns: repeat(3,1fr);
  }
}

/* Career page end */

/* Franchise page start */

.highlightCardWrapper:hover{
  transition: 0.8s;
  background: var(--fontColor);
  color: white;
  border: none !important;
}


/* Franchise page end */









/* ##### BOOTSTRAP CUSTOM CSS START ##### */

.container,
.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm,
.custom-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {

  .container-sm,
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {

  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {

  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {

  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1420px !important;
  }

  .custom-container {
    max-width: 1200px !important;
  }
}

/* ##### BOOTSTRAP CUSTOM CSS END ##### */





.navbar .megamenu {
  padding: 1rem;
}

  .carousel-content-box {
    text-align: center;
  }

  .carousel-btn-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

@media all and (min-width: 992px) {
  .navbar .has-megamenu {
    position: static !important;
  }

  .navbar .megamenu {
    font-size: 13px;
    left: 0;
    right: 0;
    margin-top: 0;
    width: 1000px;
    margin: auto;
  }
  .navbar .smallMegaMenu{
    width: 500px;

  }
}

@media(max-width: 991px) {

  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
}

/* Responsive For Mobile and Tab version */


@media screen and (max-width: 992px) {
  .carousel-content-box {
    text-align: center;
  }

  .carousel-btn-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .carousel-title {
    font-size: 2rem;
    padding-bottom: 1rem;

  }
}

