{% load static %}
    <!-----Footer Start------------->

    <footer class="footer text-white" style="background: rgb(35, 31, 32);">
        <div class="container py-5">
            <div class="row row-cols-1 row-cols-lg-2 gap-5 gap-lg-0">

                    <div class="position-relative overflow-hidden">
                        <img src="{% static './asset/images/usa.svg' %}" alt="" class="w-100 h-100 position-absolute" style="z-index: 2; opacity: .15; transform: scale(1.3);">
                        <div class="d-flex position-relative flex-column gap-3" style="z-index: 10;">
                            <!-- <h4 class="m-0" style="font-weight: 600;">CELL<i style="color: var(--primaryColor); font-weight: 700;">N</i>STYLE</h4> -->
                             <h4 style="font-weight: 600;">Our Stores</h4>
                            <p class="footerSubtext">Visit one of our locations for quick and reliable repair services. We're here to help with all your device needs!</p>

                            <!-- <a href="mailto:cellnstyle888@gmail.com" target="_blank" class="d-flex gap-2 align-items-center">
                                <i class="fa-duotone fa-solid fa-envelope" style="color: var(--primaryColor);"></i>
                                <span>cellnstyle888@gmail.com</span>
                            </a> -->

                            <div class="d-flex position-relative flex-column gap-5">
                                {% for s in store %}
                                <div class="d-flex flex-column gap-2 ">
                                    <h5>Store In {{s.area}} </h5>
                                    <a href="{{s.google_map_link}}" target="_blank" class="d-flex gap-2 align-items-center">
                                        <i class="fa-duotone fa-solid fa-map-location-dot" style="color: var(--primaryColor);"></i>
                                        <span>{{s.address}}</span>
                                    </a>
                                    <a href="tel:{{s.country_code}}{{s.phone_number}}" class="d-flex gap-2 align-items-center">
                                        <i class="fa-duotone fa-solid fa-phone-arrow-up-right" style="color: var(--primaryColor);"></i>
                                        <span>{{s.phone_number}}</span>
                                    </a>
                                </div>
                                {% endfor %}
                            
                            </div>
        

                        </div>
                    </div>

                    <div class="position-relative">
                        <div class="row row-cols-1 row-cols-md-2 gap-4 gap-sm-0 justify-content-between">

                            <div class="d-flex flex-column gap-3" style="width: fit-content;">
                                <h4 style="font-weight: 600;">Repair Services</h4>
                                <div class="d-flex flex-column gap-3">
                                    {% for device in devices %}
                                    <a href="{% url 'repair' device.slug %}">{{device.name}}</a>
                                    {% endfor %}
                                
            
                                </div>
                            </div>
    
                            <div class="d-flex flex-column gap-3" style="width: fit-content;">
                                <h4 style="font-weight: 600;">Important Links</h4>
                                <div class="d-flex flex-column gap-3">
                                    <a href="{% url 'terms' %}">Terms & Conditions</a>
                                    <a href="{% url 'privacy' %}">Privacy Policy</a>
                                    <a href="{% url 'products' %}">Accessories</a>
                                    <a href="{% url 'device_submission_form' %}">Sell</a>
                                    <a href="{% url 'career' %}">Career</a>
                                    <a href="{% url 'contact' %}">Contact</a>
                                </div>
                            </div>
    
                        </div>
                    </div>
    

            </div>

        </div>

        <div class="container">
            <div class="copyrights text-center border-top pt-3" style="border-color: var(--accentColor) !important;">
              @ <span id="autodate"></span> - CALLNSTYLE.
            </div>
            <div class="text-end">
              <p>
                Develop By - <br />
                <a target="_blank" href="https://www.ositsltd.com/">
                  <img
                    style="width: 30px; margin-right: 5px"
                    src="https://www.ositsltd.com/media/logo/logo_K6FFJzc.png"
                    alt=""
                  />
                  OS IT Solutions Ltd.</a
                >
              </p>
            </div>
          </div>
    </footer>

    <!-------Footer End------------->
