{% load static %}
<header class="headerSection fixed-top" style="background: #231f20;">


    <!-- Navbar 1 - Bootstrap Brain Component -->
    <nav class="navbar navbar-expand-lg bsb-navbar bsb-navbar-hover bsb-navbar-caret">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{{web.site_logo.url}}" style="width: clamp(8.3125rem, 8.008928571428571rem + 1.5178571428571428vw, 9.375rem);" alt="">
                 <!-- <h4 class="m-0" style="font-weight: 600;">CELL<i style="color: var(--primaryColor); font-weight: 700;">N</i>STYLE</h4> -->
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffffff"
                    class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
            </button>
            <div class="offcanvas offcanvas-end me-auto" style="background: #231f20;" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-center flex-grow-1 gap-xl-4">
                        <li class="nav-item">
                            <a class="nav-link text-nowrap" href="{% url 'home'%}">Home</a>
                        </li>
                        <li class="nav-item dropdown has-megamenu">
                            <a class="nav-link text-nowrap dropdown-toggle" href="#!" id="servicesDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Company</a>
                            <ul class="dropdown-menu border  bsb-zoomIn megamenu smallMegaMenu"
                                aria-labelledby="servicesDropdown">
                                <li><a class="dropdown-item" href="{% url 'franchise' %}">Franchise</a></li>
                                <li><a class="dropdown-item" href="{% url 'career' %}">Career</a></li>
                                <li><a class="dropdown-item" href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown has-megamenu">
                            <a class="nav-link text-nowrap dropdown-toggle" href="#!" id="servicesDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Repair Service</a>
                            <ul class="dropdown-menu border-0 shadow-sm  bsb-zoomIn megamenu"
                                aria-labelledby="servicesDropdown">
                                <div>
                                    <div class="row">
                                        <div class="col-12 col-md-12 col-lg-4">
                                            <img class="nav-repair-icon"
                                                src="{% static 'asset/images/icons/repair-tools-svgrepo-com.svg'%}" alt="">
                                            <h5>What can we fix for you?</h5>
                                            <p class="pt-3">Select the device that needs fixing, and let our certified technicians handle the rest.</p>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-8">
                                            <div class="text-center">
                                                <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
                                                    {% for device in devices %}
                                                    <div class="col">
                                                        <a href="{% url 'repair' device.slug %}">
                                                            <div class="pt-3 border rounded-2 text-dark h-100 nav-c-card">
                                                                <img class="dropdown-categories-img"
                                                                    src="{{ device.image.url }}"
                                                                    alt="">
                                                                <p class="nav-c-text">{{device.name}}</p>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    {% endfor %}
                                                            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-nowrap" href="{% url 'products' %}">Accessories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-nowrap" href="{% url 'device_submission_form' %}">Sell</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-nowrap" href="{% url 'blog' %}">Blogs</a>
                        </li>

                    </ul>

                    <li class="nav-item book-li">
                        <a class="nav-link text-nowrap text-center book-repair-btn" href="tel:{{web.whatsApp_number}}">CALL NOW</a>
                    </li>
                </div>
            </div>
        </div>
    </nav>

</header>