{% extends 'base.html' %}
{% block title %}
{{privacy.title}}
{% endblock title %}
{% load static %}
{% block content %}


    <main class="flex-shrink-0">
      <!-- Main Content Start -->

      <!-- Privacy Policy section start-->

      <section
        class="extremeContainer container"
        style="padding-block: 6rem 3rem"
      >
        <h1 class="section-title">{{privacy.title}}</h1>
        <h6 class="text-center">
          <b style="color: var(--primaryColor)">Last Updated: </b>
          <span>{{privacy.last_updated | date:"M d, Y"}}</span>
        </h6>
        <p class="text-center section-subtext mt-4">
          {{privacy.subtext|safe}}
        </p>

        <div class="d-flex flex-column gap-4 mt-4">
            {{privacy.description|safe}}
        </div>
      </section>

      <!-- Privacy Policy section end-->

      <!-- Main Content End -->

      <!-- Floating Social Media Start -->

      {% include "socialMedia.html" %}

      <!-- Floating Social Media End -->
    </main>

{% endblock content %}
