{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main class="flex-shrink-0">
      <!-- Main Content Start -->

      <!-- Terms And Conditions section start-->

      <section class="my-5" style="padding-block: 0.8rem">
        <div
          class=""
          style="
            aspect-ratio: 3/1;
            background: url({{blog.image.url}});
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          "
        ></div>

        <div class="extremeContainer container d-flex flex-column gap-2 mt-5">
          <h1 class="section-title text-start mb-0">
           {{blog.title}}
          </h1>
          <div class="d-flex gap-3 flex-wrap">
            <span class="mb-0">
              <b class="me-1" style="color: var(--primaryColor)">Date:</b>
              {{blog.date}}
            </span>
            <span class="mb-0">
              <b class="me-1" style="color: var(--primaryColor)">By:</b>
              {{blog.author}}
            </span>
          </div>

          <div class="mt-2">
            <div>
              {{blog.description|safe}}
            </div>
      
          {% if blog.video_link %}
            <iframe
            class="my-4"
            style="width: 100%; aspect-ratio: 3/1.7"
            src="{{blog.video_link}}"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          {% endif %}
          {% if blog.description2 %}
          <div>
            {{blog.description2|safe}}
          </div>
          {% endif %}
        </div>
        </div>
      </section>

      <!-- Terms And Conditions section end-->

      <!-- Main Content End -->

      <!-- Floating Social Media Start -->

      <section>
        <div class="floating-social-media">
          <p>
            <a
              class="floating-icon"
              href="mailto:info@cellnstyle.com"
              target="_blank"
              ><i class="fa-solid fa-envelope"></i
            ></a>
          </p>
          <p>
            <a
              class="floating-icon"
              href="https://wa.me/19403809094?text=Hello%2C%20I%20need%20assistance%20with%20my%20device%20repair."
              target="_blank"
              ><i class="icon-1 fa-brands fa-whatsapp"></i
            ></a>
          </p>

          <p>
            <a
              class="floating-icon"
              href="https://www.facebook.com/share/AoSuLDqoyHDixcSX/?mibextid=wwXIfr"
              target="_blank"
              ><i
                style="padding-left: 2px"
                class="icon-2 fa-brands fa-facebook-f"
              ></i
            ></a>
          </p>
          <!-- <p><a class="floating-icon" href=""><i class="icon-3 fa-brands fa-instagram"></i></a></p> -->
          <p>
            <a class="floating-icon" href=""
              ><i class="icon-4 fa-brands fa-youtube"></i
            ></a>
          </p>
        </div>
      </section>

      <!-- Floating Social Media End -->
    </main>
{% endblock %}

