
<section>
    <div class="floating-social-media">
      <p>
        <a
          class="floating-icon"
          href="mailto:{{web.email}}"
          target="_blank"
          ><i class="fa-solid fa-envelope"></i
        ></a>
      </p>
      <p>
        <a
          class="floating-icon"
          href="https://wa.me/{{web.whatsApp_number}}?text=Hello%2C%20I%20need%20assistance%20with%20my%20device%20repair."
          target="_blank"
          ><i class="icon-1 fa-brands fa-whatsapp"></i
        ></a>
      </p>

      <p>
        <a
          class="floating-icon"
          href="{{web.facebook_url}}"
          target="_blank"
          ><i
            style="padding-left: 2px"
            class="icon-2 fa-brands fa-facebook-f"
          ></i
        ></a>
      </p>
      <!-- <p><a class="floating-icon" href=""><i class="icon-3 fa-brands fa-instagram"></i></a></p> -->
      <p>
        <a class="floating-icon" href="{{web.youtube_url}}"
          ><i class="icon-4 fa-brands fa-youtube"></i
        ></a>
      </p>
    </div>
</section>